extends ../layout/admin_layout.pug
block body
    #page-wrapper
        #title-breadcrumb-option-demo.page-title-breadcrumb
            .page-header.pull-left
                .page-title DashBoard
            ol.breadcrumb.page-breadcrumb
                li
                    i.fa.fa-home
                        a(href="#") Home&nbsp;&nbsp;
                    i.fa.fa-angle-right &nbsp;&nbsp;
                li
                    a(href="#") Admin
                        i.fa.fa-angle-right &nbsp;&nbsp;
                li.active Dashboard
                        